.loader {
  width: 78px;
  height: 78px;
  left: 47%;
  top: 50%;
  border: 2px solid #c6c5c5;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 300000;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #731ab2;
  width: 10px;
  height: 10px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}
.loader::before {
  left: auto;
  top: auto;
 right: 50%;
  bottom: 50%;
  transform: translate(-150%, -150%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 