
.search_form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:130px 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search_input {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.search_button {
  padding: 10px 20px;
  background-color: #979797;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.search_button:hover {
  background-color: #a1154d;
}
