.header{
 display: flex;
 position: fixed;
 width: 100%;
 z-index: 2000;
 justify-content: center;
 gap: 20px;
 padding: 30px 0;
 background: linear-gradient(to right, #141313,#645e68,#6f6874, #9c93a2);

  
}

.link{
 text-decoration: none;
 font-size: 24px;
 text-transform: uppercase;

}


.header_navigation{
display: flex;
gap:20px;
}


